<div id="post-show">
  <h1><%= @post.title %> by <%= @post.author.username %> <h1>
  <h3>url</h3>
  <h3><%= @post.url %></h3>
  <div id="post-content">
    <h3>content:</h3>
    <p><%= @post.content %></p>
  </div>

  <% if is_logged? %> 
  <%= link_to 'Make New Post', new_post_url() %>
  <% end %>

</div>
